# unconventional js
/blueprint-files/
/test-fixtures/
/vendor/

# compiled output
/dist/
/tmp/
/js/

# dependencies
/bower_components/
/tests/dummy/lib/*/node_modules/

# misc
/coverage/

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
