<div style="border: 2px solid black;width: 100%; background-color: azure; margin-top: 20px; padding: 0 0 20px 20px">
<p style="margin-top: 0px; border-bottom: chocolate 1px solid">ts-component.hbs</p>
  {{#if someValue}}
    Component defines <b>someValue</b> property as: {{someValue}}
  {{else}}
    <span style="color:red">Missing <b>someValue</b> property, expected to be defined by the component.</span>
  {{/if}}
</div>
