{{outlet}}

<div style='visibility: hidden'>
{{!--
  Unlike the rest of this document, these two components are used as part of the
  addon's test suite. As such, they need to be rendered. However, they must not
  be *displayed* as part of the addon docs!
--}}

{{ts-component}}

{{js-importing-ts}}
</div>