<DocsHeader @prefix='Ember CLI' @name='TypeScript' />

<DocsHero
  @logo='ember'
  @prefix='Ember CLI'
  @strongHeading='TypeScript'
  @byline='Use TypeScript in your Ember 2.x and 3.x apps!'
/>

<div class='docs-container docs-md'>
  <section class='docs-max-w-md docs-mx-auto docs-pb-8'>
    {{index-content}}

    <div class="docs-my-16 docs-text-right">
      {{#link-to 'docs' class='docs-bg-grey-darkest hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded'}}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>
